mixin box-search(type)
  - const title = type == "Topic" ? "topics" : "songs"
  .row.mb-2
    .col-sm-6
      .data-table-length(data-table-length="")
        label.form-label.d-flex.gap-2.align-items-center
          | Display 
          select.form-select.form-select-sm
            - for (var i = 5; i <= 15; i += 5)
              if pagination.limitRecords == i
                option(value=i selected) #{i}
              else
                option(value=i) #{i}
          | #{title}
    .col-sm-6
      form.text-end(id="form-search")
        .input-group 
          input(
            type="text"
            placeholder="Enter..."
            name="keyword"
            class="form-control"
            value=keyword
          )
          .input-group-append 
            button(
              class="btn btn-success"
              type="submit"
            ) Tìm

