extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  if role.permissions.includes("role-permission_view")
    +alert-success()

    style.
      .container {
          max-width: 800px;
          margin: 0 auto;
          background: #fff;
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          overflow: hidden;
      }
      .header {
          padding: 10px 20px;
          font-size: 20px;
          color: black;
          font-weight: bold;
      }
      b {
        font-weight: 700;
      }
      table {
          width: 100%;
          border-collapse: collapse;
      }
      table th, table td {
          padding: 12px 15px;
          border: 1px solid #ddd;
      }
      table th {
          background-color: #f0f2f5;
      }
      .update-btn {
          background-color: #007bff;
          color: #fff;
          border: none;
          padding: 8px 20px;
          border-radius: 4px;
          cursor: pointer;
          float: right;
          margin: 10px;
      }

    if records 
      div(data-records=records)

    .container
      .header.mt-2.text-center Thiết lập phân quyền
      table.mb-5(table-permissions)
        thead
          tr
            th 
              b Tính năng
            each item in records 
              th(class="text-center") 
                b #{item.title}
        tbody
          tr(data-name="id" class="d-none")
            td 
            each item in records  
              td(class="text-center")
                input(type="text" value=item.id)
          tr
            td(colspan="4") 
              b Quản lý danh sách chủ đề
          tr(data-name="topic_view")
            td Xem
            each item in records 
              td(class="text-center")
                input(type="checkbox")
          tr(data-name="topic_create")
            td Thêm mới
            each item in records 
              td(class="text-center")
                input(type="checkbox")
          tr(data-name="topic_edit")
            td Chỉnh sửa
            each item in records 
              td(class="text-center")
                input(type="checkbox")
          tr(data-name="topic_delete")
            td Xóa
            each item in records 
              td(class="text-center")
                input(type="checkbox")

          tr
            td(colspan="4") 
              b Quản lý danh sách bài hát
          tr(data-name="song_view")
            td Xem
            each item in records 
              td(class="text-center")
                input(type="checkbox")
          tr(data-name="song_create")
            td Thêm mới
            each item in records 
              td(class="text-center")
                input(type="checkbox")
          tr(data-name="song_edit")
            td Chỉnh sửa
            each item in records 
              td(class="text-center")
                input(type="checkbox")
          tr(data-name="song_delete")
            td Xóa
            each item in records 
              td(class="text-center")
                input(type="checkbox")

          tr
            td(colspan="4") 
              b Quản lý danh sách ca sĩ
          tr(data-name="singer_view")
            td Xem
            each item in records 
              td(class="text-center")
                input(type="checkbox")
          tr(data-name="singer_create")
            td Thêm mới
            each item in records 
              td(class="text-center")
                input(type="checkbox")
          tr(data-name="singer_edit")
            td Chỉnh sửa
            each item in records 
              td(class="text-center")
                input(type="checkbox")
          tr(data-name="singer_delete")
            td Xóa
            each item in records 
              td(class="text-center")
                input(type="checkbox")

          tr
            td(colspan="4") 
              b Quản lý tài khoản
          tr(data-name="account_view")
            td Xem
            each item in records 
              td(class="text-center")
                input(type="checkbox")
          tr(data-name="account_create")
            td Thêm mới
            each item in records 
              td(class="text-center")
                input(type="checkbox")
          tr(data-name="account_edit")
            td Chỉnh sửa
            each item in records 
              td(class="text-center")
                input(type="checkbox")
          tr(data-name="account_delete")
            td Xóa
            each item in records 
              td(class="text-center")
                input(type="checkbox")

          tr
            td(colspan="4") 
              b Quản lý nhóm quyền
          tr(data-name="role_view")
            td Xem
            each item in records 
              td(class="text-center")
                input(type="checkbox")
          tr(data-name="role_create")
            td Thêm mới
            each item in records 
              td(class="text-center")
                input(type="checkbox")
          tr(data-name="role_edit")
            td Chỉnh sửa
            each item in records 
              td(class="text-center")
                input(type="checkbox")
          tr(data-name="role_delete")
            td Xóa
            each item in records 
              td(class="text-center")
                input(type="checkbox")

          tr
            td(colspan="4") 
              b Quản lý phân quyền
          tr(data-name="role-permission_view")
            td Xem và chỉnh sửa
            each item in records 
              td(class="text-center")
                input(type="checkbox")

          tr
            td(colspan="4") 
              b Cài đặt chung
          tr(data-name="setting-general")
            td Xem và chỉnh sửa
            each item in records 
              td(class="text-center")
                input(type="checkbox")

        button(
          class="update-btn mb-4"
          button-submit
        ) Cập nhật

    form(
      id="form-change-permissions"
      action=`/${prefixAdmin}/roles/permissions?_method=PATCH`
      method="POST"
      class="d-none"
    )
      input(
        type="text"
        name="permissions"
      )

    script(src="/admin/js/role.js") 