extends ../../layouts/auth.pug 
include ../../mixins/alert.pug

block main 
  +alert-success()
  +alert-error()

  section.bg-gray-50(class="dark:bg-gray-900")
    .flex.flex-col.items-center.justify-center.px-6.mx-auto(class="lg:py-0")
      a.flex.items-center.mb-6.text-2xl.font-semibold.text-gray-900(
        class="dark:text-white" 
        href="#"
      )
        i.fa-brands.fa-spotify.w-8.h-8.mr-2.justify-center.items-center(class="flex!")
        span Spytifort
      .w-full.bg-white.rounded-lg.shadow(class="dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700")
        .p-6.space-y-4(class="md:space-y-6 sm:p-8")
          h1.text-xl.font-bold.leading-tight.tracking-tight.text-gray-900(class="md:text-2xl dark:text-white") Sign in to your account
          form.space-y-4(
            action="/user/login" 
            method="POST"
            class="md:space-y-6"
          )
            div
              label.block.mb-2.text-sm.font-medium.text-gray-900(
                class="dark:text-white" 
                for="email"
              ) Your email
              input#email.bg-gray-50.border.border-gray-300.text-gray-900.rounded-lg.block.w-full(
                required="" 
                placeholder="name@company.com" 
                class="focus:ring-primary-600 focus:border-primary-600 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                name="email" 
                type="email"
              )
            div
              label.block.mb-2.text-sm.font-medium.text-gray-900(
                class="dark:text-white" 
                for="password"
              ) Password
              input#password.bg-gray-50.border.border-gray-300.text-gray-900.rounded-lg.block.w-full(
                required="" 
                class="focus:ring-primary-600 focus:border-primary-600 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                placeholder="••••••••" 
                name="password" 
                type="password"
              )
            .flex.items-center.justify-between
              .flex.items-start
                .flex.items-center.h-5
                  input#remember.w-4.h-4.border.border-gray-300.rounded.bg-gray-50(
                    class="focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" 
                    type="checkbox" 
                    name="remember"
                    aria-describedby="remember"
                  )
                .ml-3.text-sm
                  label.text-gray-500(
                    class="dark:text-gray-300" 
                    for="remember"
                  ) Remember me
              a.text-sm.font-medium.text-primary-600(
                class="hover:underline dark:text-primary-500" 
                href="/user/password/forgot"
                ) Forgot password?
            button.w-full.text-white.bg-primary-600.font-medium.rounded-lg.text-sm.px-5.text-center(
              class="hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-primary-300 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" 
              type="submit"
            ) Sign in
            p.text-sm.font-light.text-gray-500(class="dark:text-gray-400")
              | Don’t have an account yet? 
              a.font-medium.text-primary-600(
                class="hover:underline dark:text-primary-500" 
                href="/user/signup"
              ) Sign up